.wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: #5b6f5b;
}

.wrapper h1 {
  font-size: 45px;
}

.wrapper h2 {
  font-size: 36px;
}

.wrapper span {
  color: #e44c6b;
}
