.sidebar {
  width: 50px;
  height: 100%;
  background: url('../../assets/main-bg.png');
}

.sidebarExpand {
  width: 400px;
  height: 100%;
}

.sidebarIcon {
  width: 50px;
  background-color: #dfdfdf;
  color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.sidebarIcon.iconHide {
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slideLeft {
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}

@keyframes slide-right {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-100px);
  }
}
